<iframe
  src="https://www.aparat.com/video/video/embed/videohash/rbuhiki/vt/frame?muted=true&autoplay=true"
  allow="autoplay"
  allowFullScreen="true"
  webkitallowfullscreen="true"
  mozallowfullscreen="true"
  class="absolute w-full h-full"
></iframe>
<div class="h-screen bg-white">
  <div
    class="pt-[20%] text-right px-24 absolute h-full text-white bg-gradient-to-r from-black"
  >
    <h1 class="text-6xl font-bold">هاوایی</h1>
    <p class="flex-wrap inline-block w-1/4 py-6 text-xl">
      هاوایی داستان ورزشکاری است که برای پیشرفت در رشته ورزشی خود قصد دارد
      پناهندگی کشوری خارجی را بگیرد که در این حین ماجراهایی عجیب او را تبدیل به
      فرد سرشناسی در فضای مجازی می کند.
    </p>
    <div>
      <button
        class="px-12 py-4 mx-2 text-xl text-white bg-gray-500 bg-opacity-50 rounded-lg"
      >
        اطلاعات بیشتر
      </button>
      <button
        class="px-12 py-4 text-left text-xl text-black bg-white rounded-lg hover:bg-opacity-70 transition-[1s]"
      >
        تماشا<i class="bx bx-play bx-rotate-180"></i>
      </button>
    </div>
  </div>
</div>
